{% extends 'base.html' %}

{% block content %}
<div class="flex h-screen" id="main">
    <!-- Side Navigation -->
    {% include 'partials/sidenav.html' %}
    <div class="overflow-y-scroll w-full p-4">
    <div class="flex justify-between items-center h-fit p-4">
        <div class="flex-grow items-center"><h1 class="font-bold text-2xl">Patients</h1></div>
        <!-- Show/Hide Button -->
        <button id="toggleCardBtn" class="bg-blue-500 text-white text-center p-2 rounded-md hover:bg-blue-700">
         new 
        </button>
    </div>

    {% comment %} <p>{{ patients }}</p> {% endcomment %}
    
    <!-- Add Patient Card (Initially Hidden) -->
 
    <div id="addPatientCard" class="max-w bg-white rounded-md p-4 shadow-md mb-2 hidden">
        
        <form id="addPatientForm" hx-post="{% url 'add_patient' %}" hx-target="#patientList">
            {% csrf_token %}
            <div class="mb-4">
                <label for="username" class="block text-sm font-medium text-gray-700">Username:</label>
                <input type="text" id="username" name="username" required
                       class="mt-1 p-2 border rounded-md w-full focus:outline-none focus:border-blue-500">
            </div>
            <div class="mb-4">
                <label for="patient_phone" class="block text-sm font-medium text-gray-700">Phone:</label>
                <input type="text" id="patient_phone" name="patient_phone" required
                       class="mt-1 p-2 border rounded-md w-full focus:outline-none focus:border-blue-500">
            </div>
            <button form="addPatientForm" type="submit" class="bg-blue-500 text-white p-2 rounded-md hover:bg-blue-700">Add Patient</button>
        </form>
        
    </div>
  
    
        <!-- Existing Patients List -->
        <div id="patientList">
            {% include 'partials/patientList.html' %}
        </div>



    </div>
</div>

<script>
    var toggleCardBtn = document.getElementById('toggleCardBtn');
    var addPatientCard = document.getElementById('addPatientCard');
    

    toggleCardBtn.addEventListener('click', function(){
        addPatientCard.classList.toggle('hidden');
        console.log('clikced\sdgajksdngjkadfgadfg')
    });
    
    

</script>

{% endblock content %}