{%if appointments %} 
    <div id="appointmentList">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Doctor
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Patient
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Date
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Confiramtion
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Cancelation
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {%for appointment in appointments%}
                    <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{ appointment.doctor.user.username }} 
                        </th>
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{ appointment.patient.user.username }} 
                        </th>
                        <td class="px-6 py-4">
                            {{ appointment.date }}
                        </td>
                        <td class="px-6 py-4">
                            {{ appointment.confirmation }}
                        </td>
                        <td class="px-6 py-4">
                            {{ appointment.cancelation }}
                        </td>
                        
                        <td class="px-6 py-4 ">
                            <a hx-boost="true" href="/patients/{{patient.user.username}}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline cursor-pointer">Edit</a>
                            <span 
                            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                            hx-get="{% url 'confirm_appointment' %}?patient={{ appointment.patient.user.username }}&doctor={{ appointment.doctor.user.username }}&date={{ appointment.date.date }}"
                            hx-target="#appointmentList" 
                            class="ml-4 font-medium text-green-600 dark:text-green-500 hover:underline cursor-pointer">
                                Confirm
                            </span>
                            <span 
                            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                            hx-get="/cancel_appointment?patient={{ appointment.patient.user.username }}&doctor={{ appointment.doctor.user.username }}&date={{ appointment.date.date }}"
                            hx-target="#appointmentList" 
                            class="ml-4 font-medium text-red-600 dark:text-red-500 hover:underline cursor-pointer">
                                Cancel
                            </span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    {% include 'partials/toast.html' %}
    
    {%else%}
    <div class="mt-12 bg-white p-16 relative overflow-x-auto shadow-md sm:rounded-lg">
        <h3 class=" text-center text-2xl text-semibold text-red-600 ">THERE ARE NO APPOINTMENTS</h3>
    </div>
    {% endif %}

