<!-- {% for patient in patients %}
<li class="mb-2">{{ patient.user.username }} - {{ patient.patient_phone }}</li>
{% endfor %} -->



<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                   Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Surname
                </th>
                <th scope="col" class="px-6 py-3">
                   Birth date
                </th>
                <th scope="col" class="px-6 py-3">
                    medical record
                </th>
                <th scope="col" class="px-6 py-3">
                    <!-- Action -->
                </th>
            </tr>
        </thead>
        <tbody>
            {% for appointment in patients %}
            <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ patient.user.username }} 
                </th>
                <td class="px-6 py-4 ">
                    <p class="relative w-16 overflow-hidden whitespace-nowrap overflow-ellipsis group hover:overflow-visible">
                        {{ patient.user.username }}
                        <span class="absolute z-10 hidden bg-gray-800 text-white text-xl p-1 rounded whitespace-nowrap -top-full group-hover:block overflow-hidden">
                            {{ patient.user.username }}
                        </span>
                    </p>                                       
                </td>                                
                <td class="px-6 py-4">
                    <p class="relative w-16 overflow-hidden whitespace-nowrap overflow-ellipsis group hover:overflow-visible">
                        {{ patient.user.username }}
                        <span class="absolute z-10 hidden bg-gray-800 text-white text-xl p-1 rounded whitespace-nowrap -top-full group-hover:block overflow-hidden">
                            {{ patient.user.username }}
                        </span>
                    </p>
                </td>
                <td class="px-6 py-4">
                    {{ patient.patient_phone }}
                </td>
                <td class="px-6 py-4">
                    <!-- {{ patient.patient_BirthDate }} -->
                </td>
                <td class="px-6 py-4">
                    <a href="{% url 'update_patient' %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                        create consultation
                    </a>
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Delete</a>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

</div>

{% include 'partials/toast.html' %}

{% comment %} <div class="py-3 px-5 mb-4 bg-red-100 text-red-900 text-sm rounded-md border border-red-200" role="alert">
    A simple <strong>danger</strong> alert—check it out!
</div>

{% endcomment %}
