<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Username
                </th>
                <th scope="col" class="px-6 py-3">
                    Phone-number
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
            <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ patient.user.username }} 
                </th>
                <td class="px-6 py-4">
                    {{ patient.patient_phone }}
                </td>
                <td class="px-6 py-4 ">
                    <a hx-boost="true" href="/patients/{{patient.user.username}}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline cursor-pointer">Edit</a>
                    <span hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-delete="{% url 'delete_patient' username=patient.user.username %}" hx-confirm="Are you sure you wish to delete patient {{patient.user.username}}?"  hx-target="#patientList" class="ml-4 font-medium text-red-600 dark:text-red-500 hover:underline cursor-pointer">Delete</span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include 'partials/toast.html' %}

{% comment %} <div class="py-3 px-5 mb-4 bg-red-100 text-red-900 text-sm rounded-md border border-red-200" role="alert">
    A simple <strong>danger</strong> alert—check it out!
</div> {% endcomment %}
